<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
      .itsme {
        color: gray;
      }

      .others {
        background-color: skyblue;
        color: white;
      }
    </style>
  </head>
  <body>

    <b>Chat room</b> <br>

    <div id="chat_form container">
      <div id="user_box">
        <div id="user_list"></div>
      </div>
      <div id="chat_box container">
        <div id="chat_log">
          <div id="log_line" class="row">
            <div class="nick col-xs-3"></div>
            <div id="msgs" class="col-xs-9"></div>
          </div>
        </div>
        <div id="chat_insert" class="row">
          <div class="nick col-xs-3"></div>
          <input type="text" id="msgbox" class="col-xs-6">
          <input type="button" value="입력" onclick="fromclient()">
        </div>
      </div>
    </div>

    <script>
     var userid = "";
     var usernick = "";

     var socket = io();

      // 입장시 id, nick 초기화하고 입장안내 띄우는 이벤트처리
     socket.on('entrance', function(data, userArr){
       userid = data.id;
       usernick = data.nick;
       var user = userid +" ( "+usernick+" )";

       var userList = "";
      renderUserList(userArr);
       $('#chat_log .nick').append('<br>');
       $('#chat_insert > .nick').empty();
       $('#chat_insert > .nick').append(userid);
       $('#msgs').append('<b>'+data.msg+'</b><br>');
     });

    socket.on('guest', function(data, userArr){
      var userList = "";
      // for(var i=0; i<userArr.length; i++) {
      //   userList += userArr[i].id +" ( "+userArr[i].nick+" )<br>";
      // }
      renderUserList(userArr);
      $('#chat_log .nick').append('<br>');
      $('#msgs').append('<b>'+data.msg+'</b><br>')
    })

     // 메세지 보내는 이벤트 발생
     function fromclient() {
       socket.emit('fromclient', {msg: $('#msgbox').val(), id: userid, nick: userid});
       $('#msgbox').val('');
     }

    // keyup 이벤트 중 엔터 치면 메세지 보내는 함수 실행
     $('#msgbox').keyup(function(event) {
       if(event.which==13) {
         fromclient();
       }
     });

    // 메세지 받는 이벤트 처리
     socket.on('toclient', function(data) {
      if (data.id == userid) {
        // 메세지를 보낸 사람이 나면
      //  $('#nick').append('나'+'<br>');
       $('#chat_log .nick').append('<div class="itsme my_nick">나</div>');
      //  $('#msgs').append(data.msg+'<br>');
       $('#msgs').append('<div class="itsme my_chat">'+data.msg+'</div>');
     } else { // 다른 유저면
      //  $('#nick').append(data.nick+'<br>');
       $('#chat_log .nick').append('<div class="others others_nick">'+data.id+'</div>');
      //  $('#msgs').append(data.msg+'<br>');
       $('#msgs').append('<div class="others others_chat">'+data.msg+'</div>');
      }
     });

     socket.on('exitguest', function(userArr, msg) {
       $('#chat_log .nick').append('<br>');
       $('#msgs').append('<b>'+msg+'</b><br>');
       renderUserList(userArr);
     })

     socket.on('areyouhere', function() {
       socket.emit('imhere', userid, usernick);
     })

     function renderUserList (userArr) {
       for(var id in userArr) {
         userList += userArr[id].id+" ( "+userArr[id].nick+" ) <br>";
       }

       $('#user_list').empty();
       $('#user_list').append(userList);
     }

    </script>
  </body>
</html>
